// mobile size
$MOBILE: 800px;

// colors
$white:     #fff;
$light:     #f7f7f7;
$dark:      #011127;
$black:     #000;
$highlight: #2D5F8E;

//margins
$desktop-margin: 10%;
$mobile-margin: 30px;

//paddings
$section-padding: 70pt;

//fonts
$font-headings: 'Didact Gothic', sans-serif;
$font-body: 'Montserrat', sans-serif;