@import 'fonts';
@import 'variables';
@import 'classes';
@import 'layout';
@import 'aos';
@import 'swiper/swiper';

header{
    min-height: 100vh;
    .image{
        width: 300px;
        height: 300px;
        margin: 20pt;
        @media only screen and (max-width: calc(2 * #{$mobile-margin} + 300)){
            width: 80vw;
            height: 80vw;
        }
    }
    .text{
        margin: 20pt;
        p{
            margin-bottom: 10pt;
        }

        @media only screen and (max-width: $MOBILE){
            text-align: center;
        }
    }
    @media only screen and (max-width: $MOBILE){
        flex-direction: column;
    }
}

article{
    position: relative;
    columns: 2;
    column-rule: $dark solid 1px;
    column-gap: 60pt;
    padding: calc(#{$section-padding} / 2) 0 0;
    text-align: justify;
    @media only screen and (max-width: $MOBILE){
        columns: 1;
        text-align: left;
    }

    .quote{
        margin: 0 0 2rem;
        text-align: right;
        font-style: italic;
        font-size: 1.2rem;
        font-weight: 400;
        padding: 10pt 5%;
        border-top: 1px solid rgba(0,0,0,0.5);
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }
}

#eventSwiperNext,
#eventSwiperBack{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 20pt;
    height: 20pt;
    background: transparent;
    z-index: 10;
    transition: all ease 200ms;
    &:hover{
        border-color: $highlight;
        cursor: pointer;
    }
    &.swiper-button-disabled{
        opacity: 0;
        cursor: default;
    }
    @media only screen and (max-width: $MOBILE){
        width: 10pt;
        height: 10pt;
    }
}

#eventSwiperBack{
    left: -22px;
    border-bottom: 2px solid $dark;
    border-left: 2px solid $dark;
}

#eventSwiperNext{
    right: -22px;
    border-top: 2px solid $dark;
    border-right: 2px solid $dark;
}


footer{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;

    #contactFormWrapper{
        width: 50%;
        @media only screen and (max-width: $MOBILE){
            width: 100%;
        }
    }
    
    .info{
        text-align: right;
        height: 243px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        ul{
            margin-bottom: 15pt;
            li{
                margin: 0.2rem 0;
            }
        }

        @media only screen and (max-width: $MOBILE){
            margin-top: $section-padding;
            width: 100%;
            height: auto;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        h2{
            margin-bottom: 3pt;
        }
        h4{
            margin-bottom: 15pt;
        }
        h5{
            font-weight: 300;
        }
    }
}